.color-base {
  background-color: #5271ff;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#projets,
#studies,
#workExp {
  background-color: #e2edff;
}

.mt-8 {
  margin-top: 6rem !important;
}

i {
  color: #5271ff;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* ----------------------- */
.slider {
  max-width: 1100px;
  display: flex;
}
.slider .card {
  flex: 1;
  margin: 0 10px;
  background: #ffffff;
}
.slider .card .img {
  height: 200px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
}
.title {
  font-size: 25px;
  font-weight: 600;
  background: #ffffff;
}
.sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #5271ff;
  line-height: 20px;
}
.card .content p {
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn {
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button {
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover {
  transform: scale(0.9);
}
/* --------------------- */

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}
.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}
.owl-nav button:focus {
  outline: none;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* --------------------- */
